/dist/
/build/
/coleccionEn/
/coleccionEnNormalized/
/coleccionEnStemmed/
/coleccionEnStopped/
/coleccionEnSerialized/
/dictionary/
/frequencyIndex.ser
/weightIndex.ser
/nbproject/
/manifest.mf
*.xml
